
#readerContainer{
    padding: 2% 2% 5% 2%;      
}
#loginContents{
    padding: 5% 0 5% 0;  
}
ons-col input{
    width: 90%;
}
.loginItems{
    max-width: 90%;
}
#loginButton{
    color: #EEE;
    font-weight: bold;;
}
#readerContainer, #loginContents{
    color: #EEE;
    background-color: #4B4B4B;

   

}